Welcome to WoTick,



Hi, <%= username %>, we are glad to have you around.
To complete your registration you have to confirm your mail, please click the link below or copy into your browser:

<a href="<%= link %>"><%= link %></a>

Thank you,

your WoTick-Team